* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(45deg, #d569eb, #c8b3db, #f4d6db);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
